/*********************** Homework 1 ****************/
h1{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}
/*header{
	background-color: #D0D0D0;
}*/
section{
	/*background-color: #989898;*/
	font-family: times;
	font-size: 110%;
}
/*img{
	display: none;
}*/
h2{
	/*color: #08008D;*
	font-size: 200%;*/
	text-transform: uppercase;
	font-family: times;
}
/*a{
	background-color: #DEDEDE;
	color: #000000;
}
*/
/************************ Homework 2 *********************/
 body{
 	padding: 10px;
 	margin: 0px 10px;
 }
 header{
 	background-image: url("flywheel.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
 	height: 180px;
 	text-align: center;
 	padding: 8px;
 	margin-bottom: 0px;
 }
 .left{
 	display: inline-block;
 	background-color: #899327;
 	margin: 0px;
 	float: left;
 	height: 700px;
 	width: 220px;
 	text-align: center;
 	/*clear: left;*/
 }
 .right{
 	display: inline-block;
 	width: 1050px;
 	padding: 5px;

 }
 nav a{
 	display: inline-block;
 	text-decoration: none;
 	color: #000;
 	text-align: center;
 	width: 15%;
 	background-color: rgba(255, 255, 255, .5);
 	height: 40px;
 	padding-top: 20px;
 	border-radius: 7%;
 	margin-right: 80px;
 	margin: 0 60px;
   transition-delay: .1s;
 }
 img{
 	width: 170px;
 	margin-top: 40px;
 	border: 2px solid #000;
 }
 
 nav a:hover{
 	background-color: #ffffff;
 }
 section{
 	background-color: #ffffff;
 }
 .active{
 	color:#0033cc; 
 }

/***************** Homework 3  (Table) *****************************/

table{
   text-align: center;
   margin: 0 auto;
}
th,td:first-child{
   text-align: left;
}
td{
   background-color: rgba(199, 199, 199, 0.2);
   padding: 5px;
   color: #898989;
   font-family: arial;
}
td:hover{
   background-color: rgba(199, 199, 199, 0.6);
}
th{
   border: 2px solid #ADD866;
   background-color: #82AB3E;
   color: #fff;
   padding: 8px;
   font-family: arial;
   border-radius: 6px 6px 0px 0px;
}
